<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Inventeam</title>
    <link rel="stylesheet" type="text/css" href="about.css" />
  </head>
  <body style='margin:0%;'>
  <div id="nav">
    <h1 onclick="document.location.href = '/'" id="navh">InvenTeam</h1>
    <h3 onclick="document.location.href = '/about'" id="navh">About Us</h3>
    <h3 onclick="document.location.href = '/data'" id="navh">Data</h3>
    <h3 onclick="document.location.href = '/data'" id="navh">Contact Us</h3>
  </div>
  <p id="content">
    <div style="text-align:center">
      <h1>About the STEM School InvenTeam</h1>
    </div>
    <div style="text-align:center">
      <img src="http://i.imgur.com/54mikGE.jpg" alt="Team Photo" style="width:504;height:378;">
    </div>
    <div style="width: 100%;">
      <div style="float:left; width: 50%;">
        <h3 style="text-align:center;width:100%;">What is an InvenTeam?</h3>
        <div style="margin:3%;">
        Annually, Lemelson-MIT holds a competition in which high school students nationwide are invited to come up with an innovative invention. Through a rigorous application process, Lemelson-MIT chooses about 15 schools, and it provides them a grant of up to $10,000 to make their invention come to life. Over the course of about a year, each InvenTeam works to complete their project, and presents it at Eureka Fest the following summer. Our InvenTeam was made up of nine students, three sophomores and six juniors, and we attended the 2017 EurekaFest.
      </div>
      </div>
      <div style="float:right; width: 50%;">
        <h3 style="text-align:center;width:100%;">What is Our Invention?</h3>
        <div style="margin:3%;">
        The STEM School InvenTeam's invention alerts cars when a biker is about the cross through their blind spot at an intersection and either makes a turn, or keeps going straight. Our system uses a timed sensor, similar to a crosswalk light, that gives the bikers a safe amount of time to pass through the intersection. In addition to the alert system, our device will also act as a counter for activity in bike lanes. This will be beneficial for cities who are deciding where to place bike lanes where they will be most beneficial.
      </div>
      </div>
    </div>
    <div style="text-align:center">
      <img src="http://i.imgur.com/0lkyCDW.png" alt="Sensor on street" style="width:275;height:359;">
      <img src="http://i.imgur.com/6yfKcZs.jpg" alt="Sensor Top" style="width:358;height:359;">
      <img src="http://i.imgur.com/wc5LSqp.jpg" alt="Sensor Front" style="width:276;height:359;">
    </div>
    <div style="text-align:center">
      Pictured Above: Timed Sensor Design
    </div>
  </p>
  </body>
</html>
