<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Inventeam</title>
    <link rel="stylesheet" type="text/css" href="data.css" />
  </head>
  <body style='margin:0%;'>
  <div id="nav">
    <h1 onclick="document.location.href = '/'">Inventeam</h1>
    <h3 onclick="document.location.href = '/about'">About Us</h3>
    <h3 onclick="document.location.href = '/data'">Data</h3>
    <h3 onclick="document.location.href = '/data'">Contact Us</h3>
  </div>
  <p id="content">
  We are the STEM School Inventeam. We do stuff (sometimes).
  </p>
  </body>
</html>
