<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Inventeam</title>
    <link rel="stylesheet" type="text/css" href="App.css"/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css"/>
  </head>
  <body style='margin:0%;'>
  <div id="nav">
    <h1 onclick="document.location.href = '/'" id="navh">InvenTeam</h1>
    <h3 onclick="document.location.href = '/about'" id="navh">About Us</h3>
  </div>
  <div id="mapid"></div>
  <table id='table'>
    <tr><td></td><td>Count</td><td>Last Triggered</td></tr>
    <tr><td>MIT</td><td id='jim'>0</td><td id='jimtime'>5 min ago</td></tr>
    <tr><td>Chattanooga</td><td id='tim'>0</td><td id='timtime'>32 sec ago</td></tr>
    <tr><td>MIT 2</td><td id='herb'>0</td><td id='herbtime'>32 sec ago</td></tr>
  </table>
  <table id='each'>
    <tr><td>Node</td><td>Speed</td><td>Direction</td><td>Time</td></tr>
    <tr><td>Node</td><td>Speed</td><td>Direction</td><td>Time</td></tr>
    <tr><td>Node</td><td>Speed</td><td>Direction</td><td>Time</td></tr>
    <tr><td>Node</td><td>Speed</td><td>Direction</td><td>Time</td></tr>
    <tr><td>Node</td><td>Speed</td><td>Direction</td><td>Time</td></tr>
    <tr><td>Node</td><td>Speed</td><td>Direction</td><td>Time</td></tr>
  </table>
  <div id="charts">
  <canvas id="chartid" width="600" height="300"></canvas>
  </div>
  <script src="/socket.io/socket.io.js"></script>
  <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>
  <script>
  var entries = 5
  //map setup
  var mymap = L.map('mapid').setView([39, -78], 4.5);
  var stations = {"herb":[[42.359384, -69.6], false], "tim":[[35.047002, -85.31031], false], "jim":[[42.359384, -71.09060883522034], false ]};
  var length = [];

  L.tileLayer('https://api.mapbox.com/styles/v1/mapbox/streets-v10/tiles/256/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWVpczExMjQ4MTYiLCJhIjoiY2owNDM5NGtyMGRobjMybHNjMmhwdWlmeCJ9.k9GrsRyZd771jT0BEumf7g', {
    attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
    maxZoom: 18,
    id: 'your.mapbox.project.id',
    accessToken: 'your.mapbox.public.access.token'
  }).addTo(mymap);
  var nobike = L.icon({
    iconUrl: 'nobike.png',
    iconSize: [30, 60],
    iconAnchor: [15, 60]
  });
  var bike = L.icon({
    iconUrl: 'bike.png',
    iconSize: [30, 60],
    iconAnchor: [15, 60]
  });

  for(i in stations) {
    stations[i].push(L.marker([stations[i][0][0], stations[i][0][1]], {"riseOnHover":false, "icon": nobike}).addTo(mymap));
  };

  //socket.io
  var timeouts = [[],[],[]];

  function timeParse(unix_time) {
	if(Math.round(((Date.now() - unix_time)/1000))<1) {
		if(Math.round(((Date.now() - unix_time)/1000))<2) {
      return Math.round((Date.now() - unix_time)/1000) + ' Second Ago'
    } else {
      return Math.round((Date.now() - unix_time)/1000) + ' Seconds Ago'
    }
	} else if(Math.round(((Date.now() - unix_time)/3600000))>1){
    if(Math.round(((Date.now() - unix_time)/3600000))<2) {
      return Math.round((Date.now() - unix_time)/3600000) + ' Hour Ago'
    } else {
      return Math.round((Date.now() - unix_time)/3600000) + ' Hours Ago'
    }
	} else {
    if(Math.round(((Date.now() - unix_time)/60000))<2) {
      return Math.round((Date.now() - unix_time)/60000) + ' Minute Ago'
    } else {
      return Math.round((Date.now() - unix_time)/60000) + ' Minutes Ago'
    }
	};
  };

  function dirParse(dir) {
    if(dir===1) {
      return "Forwards";
    }else if(dir===2) {
      return "Reverse";
    }else{
      return "Unknown";
    };
  };

  function updateCount(msg) {
    console.log(msg);
    window.clearTimeout(timeouts[0][0]);
    window.clearTimeout(timeouts[1][0]);
    window.clearTimeout(timeouts[2][0]);
    timeouts = [[],[],[]];
    length = msg.length;
    myChart.data.datasets[0].data = length;
    document.getElementById('jim').innerHTML = length[0]
    document.getElementById('tim').innerHTML = length[1]
    document.getElementById('herb').innerHTML = length[2]
    //document.getElementById('jimtime').innerHTML = Math.round((Date.now() - Date.parse(msg.lasttime[0]))/60000) + ' minutes ago'
	document.getElementById('jimtime').innerHTML = timeParse(Date.parse(msg.lasttime[0]));
    timeouts[0][1] = Date.parse(msg.lasttime[0]);
    document.getElementById('timtime').innerHTML = timeParse(Date.parse(msg.lasttime[1]));
    timeouts[1][1] = Date.parse(msg.lasttime[1]);
    document.getElementById('herbtime').innerHTML = timeParse(Date.parse(msg.lasttime[2]));
    timeouts[2][1] = Date.parse(msg.lasttime[2]);

    timeouts[0][0] = window.setInterval(function(){
    document.getElementById('jimtime').innerHTML = timeParse(Date.parse(msg.lasttime[0]));
    console.log("update");
    }, 1000);
    timeouts[1][0] = window.setInterval(function(){
    document.getElementById('timtime').innerHTML =  timeParse(Date.parse(msg.lasttime[1]));
    }, 1000);
    timeouts[2][0] = window.setInterval(function(){
    document.getElementById('herbtime').innerHTML = timeParse(Date.parse(msg.lasttime[2]));
    }, 1000);

    myChart.update();
    var list = document.getElementById('each').firstChild.nextSibling.firstChild.nextSibling.nextSibling;
    var i = msg.last.length -1
    while(i >= 0) {
      list.firstChild.innerHTML = msg.last[i].node;
      list.firstChild.nextSibling.innerHTML = msg.last[i].speed;
      list.firstChild.nextSibling.nextSibling.innerHTML = dirParse(msg.last[i].dir);
      list.firstChild.nextSibling.nextSibling.nextSibling.innerHTML = new Date(msg.last[i].time).toString().slice(4, 24);
      list = list.nextSibling.nextSibling;
      i = i - 1;
    };
  };

  var socket = io();

  function load_more(number) {
    socket.emit("loading", number);
  };

  socket.on('bike',function(msg) {
    console.log(msg.node);
    stations[msg.node][2].setIcon(bike)
    window.setTimeout(function(){stations[msg.node][2].setIcon(nobike)}, 600);
    updateCount(msg)
  });

  socket.on('load',function(msg) {
    updateCount(msg)
  });

  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.js"></script>
  <script>
  var ctx = document.getElementById("chartid").getContext('2d');
  var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ["MIT", "Chattanooga", "MIT 2"],
        datasets: [{
            label: '# of Bicyclists',
            data: [0, 0, 0],
            backgroundColor: [
                'rgba(255, 99, 132, 0.6)',
                'rgba(54, 162, 235, 0.6)',
                'rgba(255, 206, 86, 0.6)'
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        responsive: false,
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
  });
</script>
  </body>
</html>
