#content {
  text-align: center;
  margin: 2%;
}
 #navh {
   display: inline;
   margin-left: 5%;
   margin-right: 5%;
 }
#nav {
  text-align: left;
  background-color: powderblue;
  padding: 1.5%;
}
