#mapid {
   height: 64%;
   width: 48%;
   position: absolute; left: 2%; top: 17%;
 }
 h1 {
   display: inline;
   margin-left: 5%;
   margin-right: 5%;
}
h3 {
  display: inline;
  margin-left: 3%;
  margin-right: 3%;
}
#nav {
  text-align: left;
  background-color: powderblue;
  padding: 1.5%;
}
#table {
  float: right;
  margin: 5%;
  font-size: 2em;
  border-spacing: .7em;
}
td {
  text-align: center;
}

#each {
  float: left;
  margin: 5%;
  font-size: 1.3em;
  border-spacing: .7em;
  position: absolute; left: 2%; top: 73%;
}

#charts {
  position: absolute; left: 55%; top: 70%;
  height: 100%;
  width: 35%;
}

body {
  width: 100%;
}
