#content {
  text-align: center;
  margin: 6%;
}
 h1 {
   text-align: center;
   margin-top: 1%;
 }
h3 {
  display: inline;
  margin-left: 5%;
  margin-right: 5%;
}
#nav {
  text-align: center;
  float: left;
  width: 100%;
}
