#content {
  text-align: center;
  margin: 6%;
}
#navh {
  display: inline;
  margin-left: 5%;
  margin-right: 5%;
}
#nav {
  text-align: center;
  width: 100%;
  background-color: powderblue;
  padding: 1%;
}
